<!DOCTYPE html>
<html lang="pt-BR">
<%- include('includes/head.ejs',{title:"Mangadex | Home"})%>
<body>
    <header>
        <%- include('includes/navbar.ejs',{user:user})%>
    </header>
    <article class="main">
        <%if(!gerenciar){%>
            <br>
            <div align="center">
                <h1>Ordernar Por</h1>
                <a onClick="url('order','desc')" class="orderby-button">Mais Recente</a>
                <a onClick="url('order','asc')" class="orderby-button">Mais Antigo</a>
            </div>
            <br>
        <%} else{%>
            <br>
            <div align="center">
                <h1>Ordernar Por</h1>
                <a onClick="url('order','desc')" class="orderby-button">Mais Recente</a>
                <a onClick="url('order','asc')"  class="orderby-button">Mais Antigo</a>
            </div>
            <br>
            <div align="center">
                <a href="/manga/cadastrar">
                    <div class="navbar-button">
                        Adicionar Manga
                    </div>
                </a>
            </div>
         <%}%> 
         
        <% if(mangas&&mangas.length>0){ %>
            <% if(!gerenciar){ %>
                    <% mangas.forEach(manga=>{ %>
                        <%- include('includes/manga-card.ejs',{user:user,manga:manga})%> 
                    <%})%>
            <%} else{%>
                    <% mangas.forEach(manga=>{ %>
                        <%- include('includes/manga-detalhes.ejs',{user:user,manga:manga})%> 
                    <%})%>
            <% } %> 
        <% } else{%>
            <div align="center">
                <h3>We didn't find any manga</h3>
            </div>
            <br>
        <%}%> 
    </article>
    <script>
        function url(campo,valor) {
            valor=valor.replaceAll(" ","+")
            if(window.location.href.indexOf('?')==-1){
                window.location.href+=`?${campo}=${valor}`;
            }
            else{
                let searchcampo=window.location.href.search(campo)
                if(searchcampo==-1) window.location.href+=`&${campo}=${valor}`;
                else {
                    let base_url=window.location.href.split('?')[0];
                    let query=window.location.href.split('?')[1];
                    let newparams=[];
                    query.split('&').forEach(param => {
                        tmp=param.split('=');
                        if(tmp[0]==campo) tmp[1]=valor;
                        tmp=tmp.join('=')
                        newparams.push(tmp);
                    })
                    newparams=newparams.join('&');
                    window.location.href=base_url+=`?${newparams}`;
                }
            }
        }
    </script>
</body>
</html>