<!DOCTYPE html>
<html lang="pt-BR">
<%- include('includes/head.ejs',{title:"Mangadex | Home"})%>
<body>
    <header>
        <%- include('includes/navbar.ejs',{user:user})%>
    </header>
    <article class="main">
        <%if(!gerenciar){%>
            <br>
            <div align="center">
                <h1>Ordernar Por</h1>
                <a href="/manga?order=desc">Mais Recente</a> <a href="/manga?order=asc">Mais Antigo</a>
            </div>
        <%} else{%>
            <br>
            <div align="center">
                <a href="/manga/cadastrar">
                    <div class="navbar-button">
                        Adicionar Manga
                    </div>
                </a>
            </div>
         <%}%> 
        <% if(mangas&&mangas.length>0){ %>
            <% if(!gerenciar){ %>
                    <% mangas.forEach(manga=>{ %>
                        <%- include('includes/manga-card.ejs',{user:user,manga:manga})%> 
                    <%})%>
            <%} else{%>
                    <% mangas.forEach(manga=>{ %>
                        <%- include('includes/manga-detalhes.ejs',{user:user,manga:manga})%> 
                    <%})%>
            <% } %> 
        <% } %> 
    </article>
    <script>
        const checkbox_data=document.getElementById('filter-data-checkbox');
        const label_data=document.getElementById('filter-label-inputs-date');
        const submit=document.getElementById('filter-submit');
        checkbox_data.onchange=()=>{
            if(checkbox_data.checked){
                label_data.style="display:block;"
                submit.style="display:block;";
            }
            else{
                label_data.style="display:none;"
                submit.style="display:none;";
            }
        }
    </script>
</body>
</html>