<!DOCTYPE html>
<html lang="pt-BR">
<%- include('includes/head.ejs',{title:"Mangadex| Home"})%>
<body>
    <header>
        <%- include('includes/navbar.ejs',{user:user})%>
    </header>
    <article class="main">
            <% mangas.forEach(manga=>{ %>
                <%- include('includes/manga-card.ejs',{user:user,manga:manga})%> 
            <%})%>
    </article>
</body>
</html>