<!DOCTYPE html>
<html lang="pt-BR">
<%- include('includes/head.ejs',{title:"Mangadex | Home"})%>
<body>
    <header>
        <%- include('includes/navbar.ejs',{user:user})%>
    </header>
    <article class="main">
        <%if(!gerenciar){%>
            <br>
            <div align="center">
                <h1>Filtros</h1>
                <form>
                    <label>
                        <input type="checkbox" name="data_checkbox" id="filter-data-checkbox"> Por Data:
                    </label>
                    <br>
                    <label>
                        <input type="checkbox" name="reviews_checkbox" id="filter-reviews-checkbox"> Por Qt de Reviews
                    </label>
                    <br>
                    <label id="filter-label-inputs-date" style="display: none;">
                        Entre <input type="date" name="data1" class="filter-input"> e <input class="filter-input" name="data2" type="date">
                    </label>
                    <br>
                    <label id="filter-label-inputs-review" style="display: none;">
                        Min:<input type="number" name="reviews1" class="filter-input2" min="0"> Max:<input name="reviews2" class="filter-input2" type="number" min="1">
                    </label>
                    <br>
                    <input type="submit" style="display:none;" value="Filtrar" class="filter-submit" id="filter-submit">
                </form>
            </div>
        <%} else{%>
            <br>
            <div align="center">
                <a href="/manga/cadastrar">
                    <div class="navbar-button">
                        Adicionar Manga
                    </div>
                </a>
            </div>
         <%}%> 
        <% if(mangas&&mangas.length>0){ %>
            <% if(!gerenciar){ %>
                    <% mangas.forEach(manga=>{ %>
                        <%- include('includes/manga-card.ejs',{user:user,manga:manga})%> 
                    <%})%>
            <%} else{%>
                    <% mangas.forEach(manga=>{ %>
                        <%- include('includes/manga-detalhes.ejs',{user:user,manga:manga})%> 
                    <%})%>
            <% } %> 
        <% } %> 
    </article>
    <script>
        const checkbox_data=document.getElementById('filter-data-checkbox');
        const label_data=document.getElementById('filter-label-inputs-date');
        const submit=document.getElementById('filter-submit');
        const checkbox_reviews=document.getElementById('filter-reviews-checkbox');
        const label_reviews=document.getElementById('filter-label-inputs-review');
        checkbox_data.onchange=()=>{
            if(checkbox_data.checked){
                label_data.style="display:block;"
                submit.style="display:block;";
            }
            else{
                label_data.style="display:none;"
                if(!checkbox_reviews.checked){
                    submit.style="display:none;";
                }

            }
        }
        checkbox_reviews.onchange=()=>{
            if(checkbox_reviews.checked){
                label_reviews.style="display:block;"
                submit.style="display:block;";
            }
            else{
                label_reviews.style="display:none;"
                if(!checkbox_data.checked){
                    submit.style="display:none;";
                }

            }
        }
    </script>
</body>
</html>