<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('includes/head.ejs',{title:"Mangadex | Login"})%>
<body>
    <div class="manga-form-container">
        <form class="manga-form" action="/users/login" method="POST">
            <%if(error){%>
                <h4 class="error"><%=error.message%></h4>
            <%}%>
            <div>
                <a href="/">
                    <div>
                        <img class=logo src="/imgs/icon.png" alt="">
                        <h1 class="title">MangaDex</h1>
                        <h3>Login</h3>
                    </div>
                </a>
            </div>
            <label for="email">
                Email:<br><input placeholder="email@example.com"class="manga-form-input" type="email" name="email" required>
            </label>
            <label for="password">
                Password:<br><input placeholder="Password" class="manga-form-input" type="password" name="password" required>
            </label>
            <div>
                <input type="submit" value="Login" class="manga-form-submit">
            </div>
            <a href="/users/register">Don't have account please Register</a>
        </form>
        
    </div>
</body>
</html>