<!DOCTYPE html>
<html lang="pt-BR">
    <%- include('includes/head.ejs',{title:"Mangadex | Register"})%>
<body>
    <div class="manga-form-container">
        <form class="manga-form" action="/users/register" method="POST">
            <%if(error){%>
                <h4 class="error"><%=error.message%></h4>
            <%}%>
            <div>
                <a href="/">
                    <div>
                        <img class=logo src="/imgs/icon.png" alt="">
                        <h1 class="title">MangaDex</h1>
                        <h3>Register</h3>
                    </div>
                </a>
            </div>
            <label for="email">
                Email:<br><input placeholder="email@example.com"class="manga-form-input" type="email" name="email" required>
            </label>
            <label for="name">
                Name:<br><input placeholder="Ex:seila man"class="manga-form-input" type="text" name="name" required>
            </label>
            <label for="password">
                Password:<br><input placeholder="Password" class="manga-form-input" type="password" name="password" required>
            </label>
            <label for="image">
                Image:<br><input placeholder="Image(link)" class="manga-form-input" type="text" name="image">
            </label>
            <div>
                <input type="submit" value="Register" class="manga-form-submit">
            </div>
            <br>
        </form>
    </div>
</body>
</html>