<!DOCTYPE html>
<html lang="pt-BR">
<%- include('includes/head.ejs',{title:"Mangadex | Reviews"})%>
<body>
    <header>
        <%- include('includes/navbar.ejs',{user:user})%>
    </header>
    <article class="main">
        <br>
        <%- include('includes/review-editar-card-form.ejs',{manager:false,user:user,review:review})%> 
    </article>
</body>
</html>