<div>
    <div class="manga-card">
        <img src="<%=manga.image%>" alt="Imagem" class="manga-image">
        <div class="manga-card-div">
            <a class="manga-name" href="/manga/<%=manga.id%>"><%=manga.name%></a>
            <p><%=manga.sinopse%></p>
        </div>
    </div>
</div>
<br>

