<nav class="navbar">
    <div class="navbar-content">
        <a href="/manga">
            <img src="/imgs/icon.png" alt="logo" class="logo">
        </a>
        <div>
            <form action="/manga" method="POST">
                <input type="text" placeholder="Pesquisar" name="searchText" class="search-input search">
                <input type="submit" value="->" class="search">
            </form>
        </div>
        <a href="/manga/cadastrar">
            <div class="navbar-button">
                Cadastrar Manga
            </div>
        </a>
    </div>
</nav>