<nav class="navbar">
    <div class="navbar-content">
        <a href="/manga">
            <img src="/imgs/icon.png" alt="logo" class="logo">
        </a>
        <div>
            <form action="/manga" method="POST">
                <input type="text" placeholder="Pesquisar" name="searchText" class="search-input search">
                <input type="submit" value="->" class="search">
            </form>
        </div>
    <div class="div-navbar-double-button">
    <% if(user){ %>

        <% if(user.role=='admin'){ %>
            <a href="/manga/gerenciar">
                <div class="navbar-button">
                    Gerenciar Manga
                </div>
            </a>
            <a href="/users/gerenciar">
                <div class="navbar-button">
                    Gerenciar Users
                </div>
            </a>
        <%}%>
        <% if(user.role=='admin'||user.role=='admin'){ %>
            <a href="/reviews/gerenciar">
                <div class="navbar-button">
                    Gerenciar Reviews
                </div>
            </a>
        <%}%>
        <a href="/users/logoff">
            <div class="navbar-button">
                Sair
            </div>
        </a>
        <a href="/users/me">
            <div class='user-img' style="background-image: url(<%=user.image%>)">
            </div>
        </a>
    <%} else{%>
            <a href="/login.html">
                <div class="navbar-button">
                    Logar-se
                </div>
            </a>
            <a href="/register.html">
                <div class="navbar-button">
                    Cadastrar-se
                </div>
            </a> 
    <%}%> 
    </div>
</nav>