<div>
    <div class="review-card">
        <div class='user-img' style="background-image: url(<%=review.user.image%>)"></div>
        <div class="review-texts">
            <a href="/users/<%=review.user.id%>"><%=review.user.name%>:</a>
            <p>
                <%=review.text%>
            </p>
        </div>
    </div>
</div>